.MyComponent {
    color: red;
}

.MyComponent__title {
    font-size: 16px;
}

.MyComponent__title_active {
    font-weight: bold;
}

.MyComponent_active {
    opacity: 0.5;
}

.MyComponent__item_dark-mode {
    background: #000;
}
